.chat_header {
  padding: 1rem;
  box-shadow: 0 2px 3px rgb(235, 235, 235);
  display: flex;
  align-items: center;
  gap: 0.8rem;
  background-color: white;
  z-index: 10;

  img {
    width: 3rem;
    border-radius: 50%;
  }

  h2 {
    font-size: 1.3rem;
    margin: 0;
  }
}
