.chat_window {  
  display: flex; /* Use Flexbox for vertical layout */
  flex-direction: column;
  height: 100vh;
  background-color: var(--gray-50);
  box-shadow: 0 0 3px var(--gray-50);
  border-top-left-radius: 1rem;
}

.chat_header {
  padding: 1rem;
  box-shadow: 0 2px 3px var(--gray-200);
  display: flex;
  align-items: center;
  gap: 0.8rem;
  background-color: var(--white);
  z-index: 10;

  img {
    width: 3rem;
    border-radius: 50%;
  }

  h2 {
    font-size: 1.3rem;
    margin: 0;
  }
}
