.contact_item {
  display: flex;
  align-items: center;
  padding: 1rem;
  cursor: pointer;
  border: none;
  border-bottom: 1px solid var(--secondary-color); /* Gray horizontal line */
  background-color: var(--white); /* Initial background color */
  transition: background-color 0.2s ease; /* Smooth transition on hover */

  img {
    width: 40px;
    height: 40px;
    border-radius: 50%; /* Make profile picture round */
    object-fit: cover; /* Ensure image fills the circle without distortion */
    margin-right: 10px;
  }

  /* Add rounded corners to the first and last items */
  &:first-child {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
  }

  &:last-child {
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
  }

  &:hover {
    background-color: var(--highlight-color);
    color: var(--primary-color);
  }

  &.selected {
    background-color: var(--highlight-color);
    color: var(--primary-color);
  }
}

.contact_info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 85%;

  h3 {
    margin: 0;
    font-size: 1rem;
    font-weight: 500;
  }
  p {
    margin: 5px 0 0;
    font-size: 0.8rem;
    color: var(--gray-500);
    text-align: left;
    /* Add elipsis for long text/message */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
  }
}
