.chat_header {
    padding: 1rem;
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: center;
    gap: 0.8rem;

    img {
      width: 3rem;
      border-radius: 50%;
    }

    h2 {
      font-size: 1.3rem;
      margin: 0;
    }
  }