.input_area {
    box-shadow: 0 0 3px rgb(208, 208, 208);
    width: 50%;
    display: flex;
    align-items: center;
    margin: 0 auto 40px;
    gap: 1rem;
    border-radius: 1.5rem;
    background-color: white;
    position: relative;   

    input {
      flex-grow: 1;
      resize: none;
      border: none;
      outline: none;
      padding: 1.25rem 1.5rem;
      border-radius: 1.5rem;
      max-height: 56px;

      &::placeholder {
        color: #999;
      }
    }

    img {
        width: 20px;
    }
  }

  .send_message {
    cursor: pointer;
    border: none;
    background: none;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
  }