.input_area {
    box-shadow: 0 0 3px var(--gray-300);
    width: 50%;
    display: flex;
    align-items: center;
    margin: 0 auto 3em;
    gap: 1rem;
    border-radius: 1.5em;
    background-color: var(--white);
    position: relative;   
    transition: box-shadow .5s;

    &:focus-within {
      box-shadow: 0 0 4px 5px var(--gray-100);
    }

    input {
      flex-grow: 1;
      resize: none;
      border: none;
      outline: none;
      padding: 1.5em 1.75em;
      border-radius: 1.75em;
      max-height: 4em;

      &::placeholder {
        color: var(--gray-500);
      }
    }

    img {
        width: 1.3em;
    }
  }

  .send_message {
    cursor: pointer;
    border: none;
    background: none;
    position: absolute;
    right: 1.5em;
    top: 50%;
    transform: translateY(-50%);

    &:disabled {
      filter: grayscale(1);
      cursor: not-allowed;
    }
  }