.contact_list {
    display: flex;
    flex-direction: column;
    background-color: var(--gray-50);
    overflow-y: auto; /* Enable scrolling for long contact lists */
    padding: 0.5rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-right: 1px solid var(--gray-light-color);
  }