.contact_list {
    display: flex;
    flex-direction: column;
    background-color: rgb(251, 251, 251);
    overflow-y: auto; /* Enable scrolling for long contact lists */
    padding: 0.5rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-right: 1px solid rgb(235, 235, 235);
  }